<ion-header translucent>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <app-settings-popover></app-settings-popover>
    </ion-buttons>
    <ion-title>{{ 'TAB4.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" fullscreen>
  <h1>
    {{ appName }}
  </h1>
  <p>
    <b>Mobile application for ICIT, KING MONGKUT'S UNIVERSITY OF TECHNOLOGY NORTH BANGKOK</b>
  </p>
  <p>
    <em>Version: {{ version }}</em>
    <em> ({{ versionCode }})</em>
  </p>
  <ion-note color="danger">
      Please report bugs via the support email or/and the form link located in the <em>Contacts</em> section.
  </ion-note>
  <p>
    The purpose of this application is to inform students about <strong>news</strong> and ongoing
    <strong>promotions</strong>
    as well as their <strong>points</strong> received by using <strong>ICIT Services</strong>. Points may be exchanged
    for <strong>rewards</strong> by
    visting the reward exchange kiosk and displaying the chosen <strong>reward's code</strong> on the rewards tab.
  </p>

  <h4>Contacts</h4>
  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <ion-icon name="mail" style="margin-right: 1em;"></ion-icon>
      </ion-col>
      <ion-col size="11">
        <a [href]="mailHref" target="_system">
          icit_support@kmutnb.ac.th
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <ion-icon name="link"></ion-icon>
      </ion-col>
      <ion-col size="11">
        <a href="http://service.icit.kmutnb.ac.th/issue" target="_system">
          http://service.icit.kmutnb.ac.th/issue
        </a>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <img src="assets/icon/LINE_SOCIAL_Basic.png">
      </ion-col>
      <ion-col size="11">
        <ion-text color="primary">
          @icitkmutnb
        </ion-text>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col size="1">
        <ion-icon name="logo-facebook"></ion-icon>
      </ion-col>
      <ion-col size="11">
        <a href="https://www.facebook.com/ICIT.KMUTNB" target="_system">
          https://www.facebook.com/ICIT.KMUTNB
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>


  <h4>Credits</h4>
  <ion-grid>
    <ion-row>
      <ion-col size="4">Author:</ion-col>
      <ion-col size="8">Patrik Pindes</ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="4">Collaborator:</ion-col>
      <ion-col size="8">Institute of Computer and Information Technology</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>