<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>

    <ion-title>{{ 'LOGIN' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form #loginForm="ngForm" novalidate>
    <ion-list inset>
      <ion-item>
        <ion-label position="stacked" color="primary">{{ 'NAME.USER' | translate }}</ion-label>
        <ion-input [(ngModel)]="loginDetails.username" name="username" type="text" #username="ngModel" spellcheck="false" autocapitalize="off"
          required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="username.valid || submitted == false" class="ion-padding-start">
          {{ 'VALIDATION.USERNAME' | translate}}
        </p>
      </ion-text>

      <ion-item>
        <ion-label position="stacked" color="primary">{{ 'PASSWORD' | translate }}</ion-label>
        <ion-input [(ngModel)]="loginDetails.password" name="password" type="password" #password="ngModel" required>
        </ion-input>
      </ion-item>

      <ion-text color="danger">
        <p [hidden]="password.valid || submitted == false" class="ion-padding-start">
          {{ 'VALIDATION.PASSWORD' | translate}}
        </p>
      </ion-text>
    </ion-list>

    <ion-row>
      <ion-col>
        <ion-button (click)="onLogin(loginForm)" type="submit" expand="block">{{ 'LOGIN' | translate }}</ion-button>
      </ion-col>
    </ion-row>
  </form>

</ion-content>
