.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}


ion-card.news>div {
  background-color: red;
  color: black;
}

ion-slides.news {
  background-color: black;
  height: 30vh;
}

ion-slides.news img {
  width: auto;
  height: 100%;
}

.custom-card-header {
  padding-left: 10px;
  padding-top: 5px;
}