.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}

ion-card.news {
  // margin: 0;
}

ion-slides.news {
  background-color: black;
  height: 30vh;
}

ion-slides.news img{
  width: auto;
  height: 100%;
}