<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <app-settings-popover></app-settings-popover>
    </ion-buttons>
    <ion-title>{{ 'TAB1.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen class="ion-padding">
  <ion-slides>
    <ion-slide *ngFor="let item of news">
      <img [src]="item.overviewImageSource" (error)="getNewsErrorPicture($event.srcElement)"/>
    </ion-slide>

    <!-- <ion-slide>
      <img [src]="assets/img/news/slide-2.jpg"/>
    </ion-slide>

    <ion-slide>
      <img [src]="assets/img/news/slide-3.jpg"/>
    </ion-slide>

    <ion-slide>
      <img [src]="assets/img/news/slide-4.jpg"/>
    </ion-slide> -->

  </ion-slides>
</ion-content>