
ion-card.news {
  --background: var(--ion-color-dark);
  margin: 5px;
}
ion-card.news>.custom-card-header {
  background: linear-gradient(rgba(255, 0, 0, 0.9),rgba(255, 0, 0, 0.0));
  color: var(--ion-color-dark-contrast,white);
  font-weight: bold;
  padding: 5px;
}

ion-slides.news {
  padding: 5px;
  background-color: --ion-color-dark;
  height: 30vh;
  --bullet-background-active: rgba(255, 0, 0, 0.5);
}

ion-slides.news img {
  width: auto;
  height: 100%;
}

.custom-card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

ion-card.promotions {
  margin: 5px;
}

ion-card.promotions>ion-grid {
  padding-top: 0;
}

ion-card.promotions>ion-grid ion-col{
  max-height: 20vh;
  justify-content: center;
}

ion-card.promotions>ion-grid img{
  height: 100%;;
  width: auto;
  margin: auto;
}