<ion-header translucent>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <app-settings-popover></app-settings-popover>
    </ion-buttons>
    <ion-title>{{ 'TAB1.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="home-tab" color="medium" fullscreen> 
  <ion-card color="dark" class="news">
    <div class="custom-card-header">
      <span>{{ 'TAB1.NEWS' | translate }}</span>
      <ion-badge *ngIf="news" color="dark">{{news.length}}</ion-badge>
    </div>
    <ion-slides class="news" [options]="slideOpts" pager="true" *ngIf="news && news.length >= 1;else newsLoading">
      <ion-slide *ngFor="let item of news" class="ion-activatable">
        <img [src]="getNewsItemPicture(item)" (error)="showNewsErrorPicture($event.srcElement)"
          alt="There might be some issues with the connection."  routerLink="/tabs/tab1/news-detail/{{item._id}}"/>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-card color="dark" class="promotions" >
    <div class="custom-card-header">
      <span>{{ 'TAB1.PROMOTIONS' | translate }}</span>
      <ion-badge *ngIf="promotions" color="dark">{{promotions.length}}</ion-badge>
    </div>
    <ion-grid *ngIf="promotions && promotions.length >= 1;else promotionsLoading">
      <ion-row>
        <ion-col *ngFor="let promotion of promotions" size="12" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <img [src]="promotion.overviewImageBase64" (error)="showPromotionErrorPicture($event.srcElement)" 
            alt="There might be some issues with the connection." routerLink="/tabs/tab1/promotion-detail/{{promotion._id}}"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ng-template #newsLoading>
  <div *ngIf="!news" class="ion-text-center vertical-center center">
    <ion-spinner></ion-spinner>
    <div>Loading news...</div>
  </div>
  <div *ngIf="news && news.length == 0" class="vertical-center center">
   There are no news.
  </div>
</ng-template>
<!--this does not handle error state of the observable-->

<ng-template #promotionsLoading>
  <div *ngIf="!promotions" class="ion-text-center vertical-center center">
    <ion-spinner></ion-spinner>
    <div>Loading promotions...</div>
  </div>
  <div *ngIf="promotions && promotions.length == 0"  class="vertical-center center">
    There are no promotions.
   </div>
</ng-template>
<!--this does not handle error state of the observable-->