<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <app-settings-popover></app-settings-popover>
    </ion-buttons>
    <ion-title>{{ 'TAB1.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content id="home-tab" color="medium"> 
  <ion-card class="news">
    <div class="custom-card-header">
      <span>{{ 'TAB1.NEWS' | translate }}</span>
      <ion-badge *ngIf="news" color="dark">{{news.length}}</ion-badge>
    </div>
    <ion-slides class="news" [options]="slideOpts" pager="true" *ngIf="news;else newsLoading">
      <ion-slide *ngFor="let item of news">
        <img [src]="getNewsItemPicture(item)" (error)="showNewsErrorPicture($event.srcElement)"
          alt="There might be some issues with the connection."  routerLink="/tabs/tab1/news-detail/{{item._id}}"/>
      </ion-slide>
    </ion-slides>
  </ion-card>
  <ion-card color="dark" class="promotions" >
    <div class="custom-card-header">
      <span>{{ 'TAB1.PROMOTIONS' | translate }}</span>
      <ion-badge *ngIf="promotions" color="light">{{promotions.length}}</ion-badge>
    </div>
    <ion-grid *ngIf="news;else promotionsLoading">
      <ion-row>
        <ion-col *ngFor="let promotion of promotions" size="12" class="ion-activatable">
          <ion-ripple-effect></ion-ripple-effect>
          <img [src]="promotion.overviewImageBase64" (error)="showPromotionErrorPicture($event.srcElement)" 
            alt="There might be some issues with the connection." routerLink="/tabs/tab1/promotion-detail/{{promotion._id}}"/>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-card>
</ion-content>

<ng-template #newsLoading><div class="ion-text-center">
    <ion-spinner></ion-spinner>
    <div>Loading news...</div>
</div></ng-template> <!--this does not handle error state of the observable-->

<ng-template #promotionsLoading><div class="ion-text-center">
  <ion-spinner></ion-spinner>
  <div>Loading promotions...</div>
</div></ng-template> <!--this does not handle error state of the observable-->