<ion-header translucent>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <app-settings-popover></app-settings-popover>
    </ion-buttons>
    <ion-title>{{ 'TAB3.TITLE' | translate }}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  <ion-toolbar id="swapper">
    <ion-segment color="icit-blue" mode="md" [(ngModel)]="mode" (ionChange)="updatePageContent()">
      <ion-segment-button layout="icon-end" mode="md" value="rewards">
        <ion-label>{{ 'CLAIM' | translate}}</ion-label>
        <ion-icon name="cart"></ion-icon>
      </ion-segment-button>
      <ion-segment-button layout="icon-end" mode="md" value="history">
        <ion-label>{{ 'HISTORY' | translate}}</ion-label>
        <ion-icon name="time"></ion-icon>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div id="rewards" *ngIf="mode == 'rewards'">
    <ion-list lines="full">
      <ion-list-header class="milestones">
        <ion-label color="icit-green">{{ 'MILESTONES' | translate}}</ion-label>
        <ion-chip color="icit-green" outline="true">
          <ion-label>{{ accumulativePoint }}</ion-label>
          <ion-icon name="md-film"></ion-icon>
        </ion-chip>
      </ion-list-header>

      <ion-item-sliding #slidingCase *ngIf="milestoneFirst" [disabled]="milestoneFirst.status == RewardStatus.LOCKED"
        (ionDrag)="drag($event.detail, $event.srcElement)">
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="milestoneFirst.img">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2>{{ milestoneFirst.name }}</h2>
            <div [innerHtml]="getMilestonesPointsText(milestoneFirst, false)"></div>
            <p>{{ milestoneFirst.description }}</p>
          </ion-label>
          <ion-icon [name]="getRewardStatusIconName(milestoneFirst)" slot="end"></ion-icon>
        </ion-item>
        <ion-item-options side="end" (ionSwipe)="getMilestoneRedemptionCode(milestoneFirst, slidingCase)">
          <ion-item-option class="almost-full-width justify-content-center" color="white"
            *ngIf="milestoneFirst.status == RewardStatus.UNLOCKED">
            <div [style.opacity]="slidingItemOpacity">{{ 'RECEIVE_CODE' | translate}}</div>
          </ion-item-option>
          <ion-item-option class="full-width justify-content-center" color="white"
            *ngIf="milestoneFirst.status == RewardStatus.REDEEMING">
            <app-item-option-loading></app-item-option-loading>
          </ion-item-option>
          <ion-item-option color="white" *ngIf="milestoneFirst.status == RewardStatus.REDEEMED">
            <div>
              <div class="fadein"><strong>{{ milestoneFirst.redemptionCode }}</strong></div>
            </div>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>

      <ion-item-sliding #slidingCase *ngIf="milestoneSecond" [disabled]="true"
        (ionDrag)="drag($event.detail, $event.srcElement)">
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="milestoneSecond.img">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2>{{ milestoneSecond.name }}</h2>
            <div [innerHtml]="getMilestonesPointsText(milestoneSecond, true)"></div>
            <p>{{ milestoneSecond.description }}</p>
          </ion-label>
          <ion-icon [name]="getRewardStatusIconName(milestoneSecond)" slot="end"></ion-icon>
        </ion-item>
      </ion-item-sliding>

    </ion-list>


    <!-- <ion-item-divider>
          <ion-label>Label</ion-label>
        </ion-item-divider> -->
    <ion-list lines="full">
      <ion-list-header class="rewards">
        <ion-label color="icit-orange">{{ 'REWARDS' | translate}}</ion-label>
        <ion-chip color="icit-orange" outline="false">
          <ion-label>{{ currentPoint }}</ion-label>
          <ion-icon name="md-bug"></ion-icon>
        </ion-chip>
      </ion-list-header>
      <ion-item-sliding #slidingCaseReward *ngFor="let reward of currentPointRewards"
        [disabled]="reward.status == RewardStatus.LOCKED" (ionDrag)="drag($event.detail, $event.srcElement)">
        <ion-item>
          <ion-thumbnail slot="start">
            <img [src]="reward.img">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
            <h2>{{ reward.name }}</h2>
            <div>
              <ion-text color="success" *ngIf="reward.status == RewardStatus.REDEEMED">
                <h3>
                  <ion-label class="points-type">
                    {{reward.point}}
                    <ion-icon name="md-bug"></ion-icon>
                  </ion-label>
                  {{ 'REWARD.CODE_RECEIVED' | translate }}
                </h3>
              </ion-text>
              <ion-text color="success" *ngIf="reward.status == RewardStatus.UNLOCKED">
                <h3>
                  <ion-label class="points-type">
                    {{reward.point}}
                    <ion-icon name="md-bug"></ion-icon>
                  </ion-label>
                  {{ 'REWARD.UNLOCKED' | translate }}
                </h3>
              </ion-text>
              <ion-text color="danger" *ngIf="reward.status == RewardStatus.LOCKED">
                <h3>
                  <ion-label class="points-type">
                    {{reward.point}}
                    <ion-icon name="md-bug"></ion-icon>
                  </ion-label>
                  ({{ getMissingRewardPoints(reward.point) }} {{ 'REWARD.POINTS_NEEDED' | translate }})
                </h3>
              </ion-text>
            </div>
            <p>{{ reward.description }}</p>
          </ion-label>
          <!-- <ion-note slot="end" color="secondary">Redeemed 5x</ion-note> -->
          <ion-icon [name]="getRewardStatusIconName(reward)" slot="end"></ion-icon>
        </ion-item>
        <ion-item-options side="end" (ionSwipe)="getRewardRedemptionCode(reward, slidingCaseReward)">
          <ion-item-option *ngIf="reward.status == RewardStatus.UNLOCKED"
            class="almost-full-width justify-content-center" color="white">
            <div [style.opacity]="slidingItemOpacity">{{ 'RECEIVE_CODE' | translate}}</div>
          </ion-item-option>
          <ion-item-option *ngIf="reward.status == RewardStatus.REDEEMING" class="full-width justify-content-center"
            color="white">
            <app-item-option-loading></app-item-option-loading>
          </ion-item-option>
          <ion-item-option *ngIf="reward.status == RewardStatus.REDEEMED" color="white">
            <div>
              <div class="fadein"><strong>{{ reward.redemptionCode }}</strong></div>
            </div>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </div>

  <div id="history" *ngIf="mode == 'history'">

    <ion-list lines="full">
      <ion-list-header class="milestones">
        <ion-label color="icit-green">{{ 'MILESTONES' | translate}} {{ 'HISTORY' | translate}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of accumulativePointRewardsHistory">
        <ion-thumbnail slot="start">
          <img [src]="item.img">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h2>{{ item.name }}</h2>
          <ion-text color="icit-blue">
            <h3>
              <ion-label class="points-type">
                {{item.point}}
                <ion-icon name="md-bug"></ion-icon>
              </ion-label>
              | {{item.date | iosDateFormat | date:'dd/MM/yyyy HH:mm:ss'}}
            </h3>
          </ion-text>
          <p>{{ item.description }}</p>
        </ion-label>
        <!-- <ion-note slot="end" color="secondary">Redeemed 5x</ion-note> -->
      </ion-item>
    </ion-list>


    <ion-list lines="full">
      <ion-list-header class="rewards">
        <ion-label color="icit-orange">{{ 'REWARDS' | translate}} {{ 'HISTORY' | translate}}</ion-label>
      </ion-list-header>
      <ion-item *ngFor="let item of currentPointRewardsHistory">
        <ion-thumbnail slot="start">
          <img [src]="item.img">
        </ion-thumbnail>
        <ion-label class="ion-text-wrap">
          <h2>{{ item.name }}</h2>
          <ion-text color="icit-blue">
            <h3>
              <ion-label class="points-type">
                {{item.point}}
                <ion-icon name="md-film"></ion-icon>
              </ion-label>
              | {{item.date | iosDateFormat | date:'dd/MM/yyyy HH:mm:ss'}}
            </h3>
          </ion-text>
          <p>{{ item.description }}</p>
        </ion-label>
        <!-- <ion-note slot="end" color="secondary">Redeemed 5x</ion-note> -->
      </ion-item>


    </ion-list>

  </div>




</ion-content>