<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
        <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>newsDetail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
    <ion-slides class="zoomSlide" [options]="zoomSlideOpts"  *ngIf="newsItemDetail; else newsDetailLoading"
    [style.max-height]="getDetailImageHeight()">
      <ion-slide *ngIf="newsItemDetail?.imageBase64">
        <img [src]="newsItemDetail.imageBase64" (error)="showNewsDetailErrorPicture($event.srcElement)"
        alt="There might be some issues with the connection."/>
      </ion-slide>
    </ion-slides>
    <div *ngIf="newsItemDetail?.description" class="quill-editor-container">
      <quill-view [content]="newsItemDetail.description"></quill-view>
    </div>
</ion-content>

<ng-template #newsDetailLoading>
  <div class="center ion-text-center loading">
      <ion-spinner></ion-spinner>
      <div>Loading newsDetail...</div>
  </div>
 
</ng-template> <!--this does not handle error state of the observable-->
