<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/tab1"></ion-back-button>
    </ion-buttons>
    <ion-title>{{ 'ACCOUNT' | translate}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div *ngIf="user$ | async as user" class="ion-padding-top ion-text-center">
    <img src="https://www.gravatar.com/avatar?d=mm&s=140" alt="avatar">
    <h2>{{user.username}}</h2>

    <ion-list inset>
      <ion-item>
        <ion-label position="stacked">{{ 'NAME.DISPLAY' | translate }}</ion-label>
        {{ user.displayname }}
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'NAME.FIRST' | translate }}</ion-label>
      {{ user.firstname_en }}  
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'NAME.LAST' | translate }}</ion-label>
        {{ user.lastname_en }}
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'EMAIL' | translate }}</ion-label>
        {{ user.email }}
      </ion-item>
      <ion-item>
        <ion-label position="stacked">{{ 'BIRTHDATE' | translate }}</ion-label>
        {{ user.birthdate }}
      </ion-item>
    </ion-list>

    <ion-list inset>
      <ion-item button (click)="support()">{{ 'SUPPORT' | translate}}</ion-item>
      <ion-item button (click)="presentLogoutConfirm()">{{ 'LOGOUT' | translate}}</ion-item>
    </ion-list>
  </div>
</ion-content>
